/* =========calender-box-background=============== */
.o_selected-current-channel-day {
  background: #1fb7e7 !important;
  color: #fff !important;
}
.o_day-picker .i_day-picker-row [class*='-day']:hover {
  background-color: rgba(83, 190, 233, 0.4) !important;
}
div.month-day {
  background: transparent;
}

.o_day-picker .i_day-picker-arrow-left {
  border-right: 10px solid #1fb7e7;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.o_day-picker .i_day-picker-arrow-right {
  border-left: 10px solid #1fb7e7;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.o_day-picker .i_day-picker-title {
  color: #1fb7e7;
}

.o_day-picker .e_day-picker-buttons {
  background: transparent;
}

.calender-heading {
  padding: 40px 20px 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #1fb7e7 !important;
}

.o_day-picker .i_day-picker-header {
  background: transparent;
}
.o_day-picker .e_day-picker-buttons {
  justify-content: flex-start;
  width: 100%;
}
.o_day-picker .i_day-picker-title {
  padding: 15px 50px;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}
.o_day-picker .i_day-picker-row [class*='-day'] {
  padding: 20px;
  border: 2px solid #1fb7e7;
  text-align: left;
  font-size: 1.5em;
  min-height: 6em;
  background: transparent;
  transition: 0.1s background linear;
  outline: none;
  color: #1fb7e7;
}
.o_day-picker .i_day-picker-header div {
  padding: 9px;
  font-size: 1rem;
  color: #1fb7e7;
}

.o_day-picker .i_day-picker-row > div {
  border: none;
}
.o_day-picker .i_day-picker-row {
  border: none;
}
.o_day-picker .i_day-picker-body {
  background-color: transparent;
}
.o_day-picker .i_day-picker-row .o_selected-day {
  background: #1fb7e7 !important;
}
.o_day-picker .i_day-picker-row .o_selected-day,
.o_day-picker .i_day-picker-row .o_selected-day:hover,
.o_day-picker .i_day-picker-row [class*='-day'][disabled]:hover {
  background: #1fb7e7 !important;
  color: #fff !important;
  cursor: not-allowed !important;
}
.o_day-picker .i_day-picker-add-channel {
  border: 2px solid #1fb7e7;
  color: #1fb7e7;
}
.o_day-picker .i_day-picker-add-channel:hover {
  background: #1fb7e7;
  color: #fff;
}
